
.title{
  width:100%;
  background-color: green;
  flex:auto;
}

.container-fluid{
  margin-left: 10%;
  margin-right: 10%;
  height: 53.7em;;
  padding:0em;
}

.row{

  margin-top: 0%;
  height: 40%;
  width: 100%;;
  margin-left:0px;
  margin-right:0px;
}

.rowTwo{
  height: 40%;
  width: 100%;

}

.col-md-4{
  height: 80%;
  border: 0.1em solid black;
  padding: 0em;
}
.col-xs-4{

  height: 80%;
  border: 0.1em solid black;
  padding: 0em;
}

.col-lg-4{
  height: 80%;
  border: 0.1em solid black;
  padding: 0em;

}

.title{
  font-family: Gill Sans Extrabold, sans-serif;
  font-size:2.8em;
}

.title span{
  margin-left: 2.3em;

}

.selectionOne{
  width:100%;
  height:100%
}

.selectionTwo{
  width:100%;
  height:100%

}

.selectionThree{
  width:100%;
  height:100%

}

.selectionFour{
  width:100%;
  height:100%

}

.selectionFive{
  width:100%;
  height:100%

}

.selectionSix{
  width:100%;
  height:100%;

}

.subRow{

  width: 100%;
  height: 13%;
  margin-top: 36%;
  font-size: 1.5em;

}
.subRowTwo{
  width: 100%;
  height: 20%;
  margin-top: 1%;
  font-size: 1.5em;
  float: left;

}
.subBox{
  border: 0px solid white;
}
.subBoxTwo{
  border: 0px solid white;
}

/* Some modifcations for the LIs in the list */
.fish{
  float:left;
  margin-left: 14%;

}

.japan{
  float:left;
  margin-left: 24%;
}

.ziltoid{
  float:left;
  margin-left: 18%;
}

.bird{
  float:left;
  margin-left: 14%;

}

.old{
  float:left;
  margin-left: 24%;
}

.wierd{
  float:left;
  margin-left: 23%;
}
/*used to display and hide pages*/

.page {
  display: none;
}
.active{
  display: block;
}
/* Format for all pages other than the landing page */
.sideBar{
  background-color: black;
  width: 17.5%;
  float: left;
  position:fixed;
  height: 53.7em;

}

.albums{
  list-style: none;
  font-size: 1.5em;
  position:fixed;
}

#fishContainer{
  margin-right: 0%;
  margin-left: 18%;
}


#japanContainer{
  margin-right: 0%;
  margin-left: 18%;
}


#ziltoidContainer{
  margin-right: 0%;
  margin-left: 18%;
}

#birdContainer{
  margin-right: 0%;
  margin-left: 18%;
}

#oldContainer{
  margin-right: 0%;
  margin-left: 18%;
}

#wierdContainer{
  margin-right: 0%;
  margin-left: 18%;
}

/* For the inlargment part of the html*/
.inLarge{
  width:100%;
  height:100%;
}
.rowAlt{
  height:50%;
}

#pictureContainer{
  margin:0;
}
